@using Meme_Platform.Core.Models
@using Meme_Platform.Extensions

@model IEnumerable<PostModel>

@foreach (var post in Model)
{
    var userVote = post.Votes.FirstOrDefault(v => v.Voter.ADIdentifier == User.Identity.Name);
    var hasUserVoted = userVote != null;

    <div class="card">
        <div class="card-header bg-primary">
            <h3 class="card-title"><a class="text-white" href="/Posts/View/@(post.Id)">@post.Title</a></h3>
        </div>
        <div class="card-body post-panel-body">
            @if (post.Content.ContentType == ContentType.Image)
            {
                <div class="post-content-wrapper">
                    @if (post.IsNSFW)
                    {
                        <div class="nsfw-overlay"
                             data-id="nsfw-@(post.Id)">
                            <div>
                                <h1 class="glyphicon glyphicon-warning-sign"></h1>
                                <h1>NSFW</h1>
                                <h3>This post is marked as not safe for work</h3>
                                <h2>Click to view the post</h2>
                            </div>
                        </div>
                    }

                    <div class="loading-overlay"
                         id="loading-overlay-@(post.Id)">
                        <div class="loading animated fadeIn">
                            <div class="bg"></div>
                        </div>
                    </div>

                    <a href="/Posts/View/@(post.Id)">
                        <img src="@(post.Content.GetImageUrl())"
                             data-id="@(post.Id)"
                             class="post-image" />
                    </a>
                </div>
            }
            else
            {
                <h1>Eyyy, gotta implement that aint we?</h1>
                @*<text>@Html.Raw(post.YouTubeLink)</text>*@
            }
        </div>
        <div class="card-footer bg-dark">
            <div class="btn-group" role="group">
                <span class="btn btn-default btn-group-label">
                    Points <span id="score-@(post.Id)" class="badge badge-light">@post.CalculateScore()</span>
                </span>
                <button onclick="vote(@(post.Id), 1)"
                        data-unvote="@(hasUserVoted)"
                        id="upvote-@(post.Id)"
                        class="btn @(hasUserVoted && (int)userVote.Type > 0 ? "btn-success" : hasUserVoted ? "disabled btn-primary" : "btn-primary")">
                    <span class="fas fa-arrow-up"></span>
                </button>
                <button onclick="vote(@(post.Id), -1)"
                        data-unvote="@(hasUserVoted)"
                        id="downvote-@(post.Id)"
                        class="btn @(hasUserVoted && (int)userVote.Type < 0 ? "btn-danger" : hasUserVoted ? "disabled btn-primary" : "btn-primary")">
                    <span class="fas fa-arrow-down"></span>
                </button>
                <button class="btn @(post.AnyNewComments() ? "btn-success" : "btn-primary")"
                        onclick="window.location.href = '/Posts/View/@(post.Id)';">
                    <i class="fas fa-comment"></i>
                    <span class="badge badge-light">@(post.CountComments())</span>
                </button>
            </div>

            <span class="float-right text-info">
                <i class="fas fa-calendar"></i> <span>@post.DateCreated.ToString("d")</span>
            </span>
        </div>
    </div>
    <br />
}