@inject Meme_Platform.Core.UIConfig uiConfig

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="@(uiConfig.SiteFavicon)" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/animated-stripes.css" />
    <link rel="stylesheet" href="~/css/scrollbars.css" />
    <link href="~/css/all.min.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body class="scrollbar">
    <div class="container">
        @RenderBody()
    </div>
    <hr />
    <footer class="footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Meme Platform
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $('[data-toggle="tooltip"]').tooltip();
        $('.toast').toast({
            delay: 3000
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
